<% provide(:title, "Home") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Items in stock: <%= @items.count %></h4>
  </div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-ms-12">
        <% @items.each do |item| %>
        <!-- image -->
        <% if item.image? %>
            <a class="thumbnail">
              <div class="ratio"></div>
              <%= image_tag item.image.url(:thumb) %>
            </a>
          <% end %>
          <br>
            <h4><%=link_to item.name, item %></h4>
          <br>
            <p><small><%= truncate(item.description, length:120) %></small></p>
          <br>
            <% if admin_signed_in? %>
              <%= link_to "Edit", edit_stock_path(item), class: "btn btn-default btn-sm" %>
              <%= link_to "Delete", stock_path(item), method: :delete, data: { confirm: "You are attempting to delete the post. Click 'Ok' to continue." }, class: "btn btn-default btn-sm" %>
            <% end %>
          <% end %>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <%= will_paginate(@items, :renderer => WillPaginate::ActionView::LinkRenderer) %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
